@page {
  /*margin: 50px 50px;*/
  /*padding: 0px;*/
}

.footer{
  color: #8A8A8A;
  text-align: center;
}

/* grid system */
.row .col {
  float: left;
  min-height: 1px;
  padding-top:0.1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}