@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body
{
    position: relative;
}

.navbar-nav a
{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold !important;
}
.navbar-nav .Maquina
{
    background-color: #FF800F !important;
    color: #FFF !important;
    border-radius: 1.5rem;
    padding: 10px 15px !important;
    
}

.text-invitaciones-digitales
{
    font-family: "Pacifico";
    font-size: 5rem;
    color: #00A4FF;
    line-height: 1;
    margin-bottom: 2.5rem;
}

.btnPlantilla
{
    background-color: #FF800F;
    padding: 5px 30px;
    border-radius: 2rem;
    color: #FFF;
    border: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.2);
}




